body {
    padding: 10px 20px 10px 20px;
    font-family: verdana, arial;
    font-size: 17px;
    color: #a6a6a6;
}
label {
    width: 160px;
    display: inline-block;
    margin: 5px 0;
}
input {
    width: 300px;
    display: inline-block;
    margin: 5px 0;
}
select {
    width: 315px;
    display: inline-block;
    margin: 5px 0;
}
#showIfCard {
    display: none;
}
#viewIfCard {
    display: none;
}
#modify{
    margin-top: 15px;
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 145px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
}
#modify:hover{
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}
#delete{
    margin-top: 15px;
    background: #ECECEC;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    color:#be0000;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 145px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
}
#delete:hover{
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}


.titre {
    padding: 0px 10px 10px 10px;
    color: #000000;
}
.bibi {
    padding: 0px 10px 0px 10px;
}
.bibi-line {
    padding: 0px 10px 8px 10px;
}
.navig {
    font-size: 20px;
    color: rgba(106, 20, 95, 0.4);
    text-decoration: none;
}
.navig a {
    color: rgba(106, 20, 95, 0.4);
    text-decoration: none;
}
.navig a:hover {
    color: #000000;
    text-decoration: none;
}
.navig a:visited {
    text-decoration: none;
}
.navig-active {
    font-size: 20px;
    color: #6a145f;
    text-decoration: none;
}
.navig-active a {
    color: #6a145f;
    text-decoration: none;
}
.navig-active a:hover {
    color: #000000;
    text-decoration: none;
}
.navig-active a:visited {
    text-decoration: none;
}
h1 {
    color: #0e8ac7;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 14px;
}
h3 {
    color: #dd470f;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}
.mauve {
    color: #be0bb7;
}
.noir {
    color: #000000;
}
.rouge {
    color: #dd0f0f;
}
