body {
    padding: 10px 20px 10px 20px;
    font-family: verdana, arial;
    font-size: 17px;
    color: #717171;
}
label {
  width: 135px;
  display: inline-block;
  margin: 5px 0;
}
input {
    width: 300px;
  display: inline-block;
  margin: 5px 0;
}
select {
  width: 315px;
  display: inline-block;
  margin: 5px 0;
}
.bibi {
    padding: 0px 10px 0px 10px;
}
.bibi-line {
    padding: 0px 10px 8px 10px;
}
.navig {
    font-size: 20px;
    color: rgba(106, 20, 95, 0.4);
    text-decoration: none;
}
.navig a {
    color: rgba(106, 20, 95, 0.4);
    text-decoration: none;
}
.navig a:hover {
    color: #000000;
    text-decoration: none;
}
.navig a:visited {
    text-decoration: none;
}
.navig-active {
    font-size: 20px;
    color: #6a145f;
    text-decoration: none;
}
.navig-active a {
    color: #6a145f;
    text-decoration: none;
}
.navig-active a:hover {
    color: #000000;
    text-decoration: none;
}
.navig-active a:visited {
    text-decoration: none;
}
h1 {
    color: #0e8ac7;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 14px;
}
h3 {
    color: #dd470f;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}
.mauve {
    color: #be0bb7;
}
.noir {
    color: #000000;
}
